<div class="container">
    <div class="row">
        <div class="col-25">
            <label for="userName">Usuário</label>
        </div>
        <div class="col-75">
            <input [(ngModel)]="usuario.userName"  type="text" id="userName">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="password">Senha</label>
        </div>
        <div class="col-75">
            <input [(ngModel)]="usuario.password" type="password" id="password">
        </div>
    </div>
    <br>
    <div class="row">
        <input type="submit" value="Login" (click)="login()">
    </div>
</div>
