.header-image {
    padding: 50px;
    border-bottom: 2px solid yellow;
    background: url('https://graphics.etelimited.co.uk/tyres/brands/600x150/left/michelin.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; 
}