.container {
    display: flex;
  flex-wrap: wrap;
  background-color: rgb(2, 61, 121);
}

.container > div {
    background-color: #f1f1f1;
    width: 300px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
#retangulo {
    background-color: #CCFF33;
    width: 620px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }